*{
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  background-color: darkcyan;
}

p{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #fff;
}

a:visited{
  color: #fff;
}

.grid-container {
  height: 100vh;
  display: grid;
  padding: 5px;
  grid-template-areas:"header header header header header header header header header . side-nav"
                      ". . . . . . . . . . side-nav"
                      "input-bar . menu-uno . menu-dos . menu-tres . menu-cuatro . side-nav"
                      ". . . . . . . . . . ."
                      "content content content content content content content content content content content"
                      ". . . . . . . . . . ."
                      "footer footer footer footer footer footer footer footer footer footer footer";
  grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px max-content;
  grid-template-rows: 100px 5px 1fr 5px 100fr 5px 1fr;
}

.side-nav{
  grid-area: side-nav;
  background-color: #37474f;
  border-radius: 5px;
}

.header{
  grid-area: header;
  background-color: #37474f;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.input-bar {
  grid-area: input-bar;
  background-color: #37474f;
  display: flex;
  border-radius: 5px;
}

.menu-uno {
  grid-area: menu-uno;
  background-color: #455a64;
  border-radius: 5px;
}

.menu-dos {
  grid-area: menu-dos;
  background-color: #455a64;
  border-radius: 5px;
}

.menu-tres {
  grid-area: menu-tres;
  background-color: #455a64;
  border-radius: 5px;
}

.menu-cuatro {
  grid-area: menu-cuatro;
  background-color: #455a64;
  border-radius: 5px;
}

.content {
  grid-area: content;
  background-color: #41565f;
  color: white;
  border-radius: 5px;
}

.footer { 
  grid-area: footer;
  background-color: #37474f;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  flex-direction: column;
  /* position: relative; */
}

.input-bar-items {
  position: relative;
  height: 1fr;
  display: flex;
  margin: 25px auto;
  flex-direction: column;
  padding: 0 25px;
}

.textArea{
  min-width: 400px;
  min-height: 160px;
  padding: 5px;
  border-radius: 5px;
  line-height: 1.5;
}

.legendForTextarea{
  position: absolute;
  left: 50%;
  top: -10px;
  background-color: #fff;
  border-radius: 15px 15px 0px 0px
}

.fieldsetApp{
  margin: 15px;
}

.buttonWrapper{
  display: flex;
  justify-content: flex-end;
}

.countCities{
  color: #fff;
  display: flex;
  align-self: center;
  margin-right: 20px;
}

.buttonGetDomains{
  height: 50px;
  width: 100px;
  align-self: flex-end;
  margin: 5px 0;
}

.grid-container-content {
  display: grid;
  grid-gap: 10px;
  margin: 20px;
}

.grid-item-content {
  font-size: 1.1em;
  padding: 1.5em;
  color: white;
}

.grid-container-menu {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
}

.logo{
  width: 110px;
  height: 45px;
  opacity: 0.7;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0;
}

.logo-footer{
  width: 80px;
  height: 35px;
  opacity: 0.7;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 5px;
  /* position: absolute; */
  /* bottom: 10px; */
  /* display: flex; */
  /* justify-content: ; */
  /* position: absolute; */
}

.logo-header{
  height: 70px;
  opacity: 0.7;
  /* pointer-events: none; */
  /* user-select: none; */
  margin-bottom: 5px;
  margin-left: 15px;
  cursor: pointer;
  margin-right: 20px;
}

@media all and (max-width: 1150px) { 
  .grid-container {
      grid-template-areas:"header header header header header header header"
                          ". . . . . . ."
                          "input-bar input-bar input-bar input-bar input-bar input-bar input-bar"
                          ". . . . . . ."
                          "menu-uno . menu-dos . menu-tres . menu-cuatro"
                          ". . . . . . ."
                          "content content content content content content content"
                          ". . . . . . ."
                          "footer footer footer footer footer footer footer";
      grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
      grid-template-rows: 100px 5px 1fr 5px 1fr 5px 100fr 5px 1fr;
  }
}

@media all and (max-width: 468px) { 
  .grid-container {
      grid-template-areas:"header header header"
                          ". . . "
                          "input-bar input-bar input-bar"
                          ". . . "
                          "menu-uno . menu-dos"
                          ". . ."
                          "menu-tres . menu-cuatro"
                          ". . ."
                          "content content content"
                          ". . ."
                          "footer footer footer";
      grid-template-columns: 1fr 5px 1fr;
      grid-template-rows: 100px 5px 1fr 5px 1fr 5px 1fr 5px 100fr 5px 1fr;
  }
}

@media all and (max-width: 450px) { 

  .textArea{
    min-width: 100%;
  }

  .input-bar{
    display: block;
  }

  .logo {
    left: 0;
  }
}


.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}