/* .grid-container {
  height: 100vh;
  display: grid;
  padding: 5px;
  grid-template-areas:"header header header header header header header header header . side-nav"
                      ". . . . . . . . . . side-nav"
                      "input-bar . menu-uno . menu-dos . menu-tres . menu-cuatro . side-nav"
                      ". . . . . . . . . . ."
                      "content content content content content content content content content content content"
                      ". . . . . . . . . . ."
                      "footer footer footer footer footer footer footer footer footer footer footer";
  grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px max-content;
  grid-template-rows: 100px 5px 1fr 5px 100fr 5px 1fr;
} */

.side-nav{
  grid-area: side-nav;
  background-color: #37474f;
  border-radius: 5px;
  animation: imageAnimation 1s;
}

.hide-nav{
  opacity: 0; 
  grid-area: side-nav;
  background-color: #37474f;
  border-radius: 5px;
  animation: imageAnimation-revert 1s;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image{
  height: 22px;
}

.header-btn{
  margin-left: 58px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  outline: none;
}

/* .header-btn:hover{
    box-shadow: 0px 0px 47px -8px rgba(0,0,0,0.75);
} */

/*burger*/

.sidenav---sidenav---_2tBP {
  position: fixed !important;
  background: #455a64 !important;
  transition: min-width 0.65s !important;
  top: 0;
  overflow-y: auto;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
    min-width: 200px !important;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- .sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f{
  animation: imageAnimation 1s;
  padding-left: 30px;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo{
  display: flex !important;
  justify-content: center;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > *{
  align-self: center;
}

@keyframes imageAnimation {
  0% {
    visibility: hidden !important;
    display: none !important;
    opacity: 0;
    z-index: 100; 
    position: fixed;
  }
  100% {
    visibility: visible !important;
    display: block !important;
    opacity: 1;
    z-index: 100;
  }
}

@keyframes imageAnimation-revert {
  0% {
    visibility: visible !important;
    display: block !important;
    opacity: 1;
    z-index: 100;
  }
  100% {
    visibility: hidden !important;
    display: none !important;
    opacity: 0;
    z-index: 100; 
  }
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T {
    margin-top: 5px;
}


@media all and (max-width: 1150px) { 
  
  /*burger*/

  .sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
      min-width: 200px !important;
  }

  .sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- .sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f{
    animation: imageAnimation 1s;
    padding-left: 15px;
  }

  
  .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T {
      margin-top: 5px;
  }
}

@media all and (max-width: 430px){
  .header-btn{
    margin-left: 0px;
  }
}