
/* .grid-container {
  height: 100vh;
  display: grid;
  padding: 5px;
  grid-template-areas:"header header header header header header header header header . side-nav"
                      ". . . . . . . . . . side-nav"
                      "input-bar . menu-uno . menu-dos . menu-tres . menu-cuatro . side-nav"
                      ". . . . . . . . . . ."
                      "content content content content content content content content content content content"
                      ". . . . . . . . . . ."
                      "footer footer footer footer footer footer footer footer footer footer footer";
  grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px max-content;
  grid-template-rows: 100px 5px 1fr 5px 100fr 5px 1fr;
} */

.side-nav{
  grid-area: side-nav;
  background-color: #37474f;
  border-radius: 5px;
  animation: imageAnimation 1s;
}

.headr-btn{
  padding: 20px;
  width: 200px;
  margin-left: 58px;
}


/*burger*/

.sidenav---sidenav---_2tBP {
  position: absolute !important;
  background: #455a64 !important;
  /* right: 0 !important; */
  /* left: auto !important; */
  transition: min-width 0.65s !important;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
    min-width: 200px !important;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- .sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f{
  overflow-x: hidden;
  animation: imageAnimation 1s;
  overflow: hidden;
  padding-left: 15px;
}

@keyframes imageAnimation {
  0% {
    visibility: hidden !important;
    display: none !important;
    opacity: 0;
    z-index: -100; 
    overflow: hidden;
    overflow-x: hidden;
    position: fixed;
  }
  100% {
    visibility: visible !important;
    display: block !important;
    opacity: 1;
    z-index: 100;
    overflow: hidden;
    overflow-x: hidden;
  }
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T {
    margin-top: 5px;
}


@media all and (max-width: 1150px) { 
  
  /*burger*/

  .sidenav---sidenav---_2tBP {
    position: absolute !important;
    background: #455a64 !important;
    right: 0 !important;
    left: auto !important;
    transition: min-width 0.65s !important;
  }

  .sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
      min-width: 200px !important;
  }

  .sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- .sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f{
    overflow-x: hidden;
    animation: imageAnimation 1s;
    overflow: hidden;
    padding-left: 15px;
  }

  @keyframes imageAnimation {
    0% {
      visibility: hidden !important;
      display: none !important;
      opacity: 0;
      z-index: -100; 
      overflow: hidden;
      overflow-x: hidden;
      position: fixed;
    }
    100% {
      visibility: visible !important;
      display: block !important;
      opacity: 1;
      z-index: 100;
      overflow: hidden;
      overflow-x: hidden;
    }
  }

  .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T {
      margin-top: 5px;
  }
}

@media all and (max-width: 430px){
  .headr-btn{
    padding: 20px;
    width: 120px;
    margin-left: 0px;
  }
}