*{
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  background-color: darkcyan;
}

p{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color: #fff;
}

.grid-container {
  height: 100vh;
  display: grid;
  padding: 5px;
  grid-template-areas:"header . menu-uno . menu-dos . menu-tres . menu-cuatro"
                      ". . . . . . . . ."
                      "content content content content content content content content content"
                      ". . . . . . . . ."
                      "footer footer footer footer footer footer footer footer footer";
  grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-rows: 1fr 5px 100fr 5px 1fr;
}

.header {
  grid-area: header;
  background-color: #37474f;
  display: flex;
  border-radius: 5px;
}

.menu-uno {
  grid-area: menu-uno;
  background-color: #455a64;
  border-radius: 5px;
}

.menu-dos {
  grid-area: menu-dos;
  background-color: #455a64;
  border-radius: 5px;
}

.menu-tres {
  grid-area: menu-tres;
  background-color: #455a64;
  border-radius: 5px;
}

.menu-cuatro {
  grid-area: menu-cuatro;
  background-color: #455a64;
  border-radius: 5px;
}

.content {
  grid-area: content;
  background-color: #41565f;
  color: white;
  border-radius: 5px;
}

.footer { 
  grid-area: footer;
  background-color: #37474f;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

h3{ 
  text-align: center;
  color: #fff;
}

.header-flex-items-first {
  position: relative;
  height: 1fr;
  display: flex;
  margin: 25px auto;
  flex-direction: column;
  padding: 0 25px;
}

.textArea{
  min-width: 400px;
  min-height: 160px;
  padding: 5px;
  border-radius: 5px;
}

.legendForTextarea{
  position: absolute;
  left: 50%;
  top: -10px;
  background-color: #fff;
  border-radius: 15px 15px 0px 0px
}

.fieldsetApp{
  margin: 15px;
}

.buttonWrapper{
  display: flex;
  justify-content: flex-end;
}

.countCities{
  color: #fff;
  display: flex;
  align-self: center;
  margin-right: 20px;
}

.buttonGetDomains{
  height: 50px;
  width: 100px;
  align-self: flex-end;
  margin: 5px 0;
}

.header-flex-items-second { 
  margin: 20px;
  display: flex;
}

.grid-container-content {
  display: grid;
  grid-gap: 10px;
  margin: 20px;
}

.grid-item-content {
  font-size: 1.1em;
  padding: 1.5em;
  color: white;
}

.grid-container-menu {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
}

.grid-item-menu {
  text-align: center;
  font-size: 1.1em;
  color: white;
  margin: 0px 15px 0px 15px;
  padding: 0.5em;
}

.grid-item-menu:hover{
  opacity: 0.5;
  cursor: pointer;
}

.color1 {
  display: flex;
  background-color: #675BA7;
  box-shadow: 0px 0px 38px -6px rgba(0,0,0,0.75); 
  grid-area: auto / auto / span 2 / span 2; 
}

.logo{
  width: 175px;
  height: 68px;
  opacity: 0.1;
  pointer-events: none;
  user-select: none;
}

@keyframes text1
{
  0%{opacity: 1;}
  80%{opacity: 0;}
  100%{opacity: 1;}   
}  
@keyframes text2
{
  30%{opacity: 0;}
  60%{opacity:1;}
}
@keyframes banner
{
  0%{background-color: #ffffff;}
  20%{background-color: #126f86;}
  60%{background-color: #000000;}
  100%{background-color: #ffffff;}
}
.banner
{
    width: 200px;
    height: 10vh;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    margin: 0 auto;
}
.banner:hover {
  width: 600px;
  height: 30vh;
  transform: rotate(-360deg);
  /* transform: translate(50px, 100px) skew(30deg, 10deg) scale(1.5) rotate(90deg); */
  /* transform: scale(2); */
}
.text1,.text2
{
  width: 100%;
  height: 100%;
  line-height: 1em;
  text-align: center;
  font-size: 1.5em;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-family: monospace;
}

.text1
{
  animation : text1 6s infinite;
  color: #000;
}

.text2
{
  animation : text2 6s infinite;
  color: #fff;
}

.animated
{
  display: flex;
  opacity: 0.8;
  width: 100%;
  height: 100%;  
  animation: banner 6s infinite;
  border-radius: 25px;
}

@media all and (max-width: 1150px) { 
  .grid-container {
      grid-template-areas:"header header header header header header header"
                          ". . . . . . ."
                          "menu-uno . menu-dos . menu-tres . menu-cuatro"
                          ". . . . . . ."
                          "content content content content content content content"
                          ". . . . . . ."
                          "footer footer footer footer footer footer footer";
      grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
      grid-template-rows: 1fr 5px 1fr 5px 100fr 5px 1fr;
  }
}

@media all and (max-width: 468px) { 
  .grid-container {
      grid-template-areas:"header header header"
                          ". . . "
                          "menu-uno . menu-dos"
                          ". . ."
                          "menu-tres . menu-cuatro"
                          ". . ."
                          "content content content"
                          ". . ."
                          "footer footer footer";
      grid-template-columns: 1fr 5px 1fr;
      grid-template-rows: 1fr 5px 1fr 5px 1fr 5px 100fr 5px 1fr;
  }
}

@media all and (max-width: 425px) { 

  .textArea{
    min-width: 350px;
    min-height: 160px;
    padding: 5px;
    border-radius: 5px;
  }
}

@media all and (max-width: 375px) { 

  .textArea{
    min-width: 300px;
    min-height: 160px;
    padding: 5px;
    border-radius: 5px;
  }
}

@media all and (max-width: 320px) { 

  .textArea{
    min-width: 260px;
    min-height: 160px;
    padding: 5px;
    border-radius: 5px;
  }
}