.table th {
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table .empty-cell {
  font-style: italic;
  color: darkgray;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sort-icon:after {
  float: right;
  color: hsl(20, 0%, 70%);
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sort-icon.sort-ascending:after  { content: '\f0de'; }
.sort-icon.sort-descending:after { content: '\f0dd'; }
.sort-icon.sort-none:after  { content: '\f0dc'; }

.exportButtonsWrapper{
  display: flex;
  max-width: 265px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 6%;
  left: 13%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* display: none; */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media all and (max-width: 1150px) { 
  .loader {
      left: 42%;
  }
}

@media all and (max-width: 468px) { 
  .loader {
      left: 42%;
  }
}

@media all and (max-width: 425px) { 
  .loader {
      left: 36%;
  }
}

@media all and (max-width: 375px) { 
  .loader {
      left: 34%;
  }
}

@media all and (max-width: 320px) { 
  .loader {
      left: 31%;
  }
}